<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utilities.Listeners"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:/Users/taydogmus/IdeaProjects/optiim-master">
        <parameter name="browser" value="chrome"></parameter>
        <classes>
            <class name="tests.TC01_optiim">
                <methods>
                    <include name="checkBasket"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>